.keyboard {
  width: 100%;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}

.keyboard-button-container {
  width: 80px;
  height: 80px;
}

.keyboard-button {
  text-transform: uppercase;
  font-size: 18px;
  width: 100%;
  height: 100%;
}
